{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Welcome!!</h1>
    <h4>login</h4>
    <form class="" action="login.html" method="post">
      <input type="text" name="name" value="">
      <input type="text" name="age" value="">
      <input type="submit" name="" value="login">
    </form>

    <h4>register</h4>
    <form class="" action="register.html" method="post">
      <input type="text" name="name" value="">
      <input type="text" name="age" value="">
      <input type="submit" name="" value="register">
    </form>



{% endblock %}
